@page "/"
@using NovaBASIC.Language.Interpreting
@using NovaBASIC.Language.Lexicon
@using NovaBASIC.Language.Parsing

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code {
    protected override void OnInitialized()
    {
        var lexer = new Lexer();
        lexer.LoadCodeIntoLexer("LET i = 5\nLET j = \"My Name\"\nLET y = 2\nLET x = y + j + i");

        var parser = new Parser(lexer);
        var program = parser.GetProgram();

        var interpreter = new Interpreter();
        interpreter.RunProgram(program);

        var _ = 0;
    }
}